body {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
}
tr {
	&:nth-child(odd) {
		background: #cac9c9;
	}
	&:nth-child(even) {
		background: #e5e4e4;
	}
}
td {
	//width:150px;
	border:0 solid black;
	&.property-update {
		min-width: 125px;
	}
	&.property_land {
		text-align: center;
	}
}
#overlay {
	display: none;
}
.loading {
	#overlay {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(229,228,228,0.4) url('../img/gif/zen-spinner.gif');
		background-position: center center;
		background-repeat: no-repeat;
	}
}
ul.pagination {
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	li {
		display: inline-block;
		margin: 0 1em;
	}
}

ul.menu {
	list-style: none;
	padding: 0;
	li {
		display: inline-block;
		margin: 0;
		&.current {
			background: grey;
			a, a:visited {
				color: white;
			}

		}
		a, a:visited {
			padding:0.5em;
			display: block;
			color: black;
			&:hover {
				color: white;
			}
		}
		a, a:hover, a:focus {
			text-decoration: none;
		}
		&:hover {
			background: lightgrey;
		}
	}
}
form {
	input, label {
		margin-top: 1.5em;
	}
}
#subdivisions-dropdown, .sub-or.off {
	display: none;
}
#waiting-text {
	display: none;
	background: #fff9df;
	padding: 1.5rem;
}

#percentage-bar {
	width: 400px;
	border: 1px solid black;
	padding: 10px;
	#percent-completed {
		width: 0;
		background: #00b8e6;
		span#percentage-text {
			display: block;
			color: white;
			text-shadow: black 1px 1px;
			text-align: center;
		}
	}
}

.button {
	background: #00b8e6;
	padding: 1em;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	text-transform: uppercase;
	border: 0;
	text-decoration: none;

	&:hover {
		cursor: pointer;
	}
}

.note {
	font-size: 0.8rem;
}